<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfs</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>54e0cb571770bb846604f3078acbe1b264949c65f1c61f374394aec5811ddaaf</string>
			<key>size</key>
			<integer>974768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfs-convert</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>a8c687a201f31acf3b2282d980f5c79d5392364c9225144132ea54315e79cc50</string>
			<key>size</key>
			<integer>531480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfs-find-root</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>e8634b58c932164144a134f35729a29876f4baee1c8b6d769909ddb64609861a</string>
			<key>size</key>
			<integer>486488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfs-image</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>02aede6c808725a3d9a8347e28c6ba4e357bcbc1705daed1f62209d9274fb9cf</string>
			<key>size</key>
			<integer>519192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfs-map-logical</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>9c749e5543179841cd61c03dc54e4bd17cdd30aa9ef5070735e10004f41c508a</string>
			<key>size</key>
			<integer>494624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfs-select-super</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>5142a85c3628eb68fde7633f025a47cf033fffbd3db9d0df8212ce7ae93a758a</string>
			<key>size</key>
			<integer>490528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfstune</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>c2acd4a2ca6b8e04b352db9007a052400097fb7f0008e8a32d187890ace98a0a</string>
			<key>size</key>
			<integer>490520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fsck.btrfs</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>9a588fb5fe9e5ea8def2a189d61c0f949ab620200766048b1a1e19602900a353</string>
			<key>size</key>
			<integer>1185</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfs.btrfs</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>06a3e03d79fac3b03b0fde5bffd28035caf377791c05caef348559f6eeb20619</string>
			<key>size</key>
			<integer>519192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libbtrfsutil.pc</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>3916483dd5dd221f4214138451fe70a3f23dd6d51e6e933bf0f1e33965160380</string>
			<key>size</key>
			<integer>249</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/btrfs</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>c4b24fa11236660e7c0f58f033acfb95ccb2c836c238e8e4201abdfef68d13c9</string>
			<key>size</key>
			<integer>3478</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/btrfs.5</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>4b79958a1f67f73dca459fe4865535cd965da165e574f43c3388bd330a51e652</string>
			<key>size</key>
			<integer>85168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-balance.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>adf1d59dae31abd658611a5597ad3cf13909727388e8948595abe80ac12c031d</string>
			<key>size</key>
			<integer>20173</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-check.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>a8a8a31719da6a3b8b0b1008196434c3a2e7db2b9a6a70a970809ec792ebb6ef</string>
			<key>size</key>
			<integer>7480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-convert.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>0c3b322896b6bddf874a0e291eeee1049e7f88fd2c11f6073d06a9d9df025f64</string>
			<key>size</key>
			<integer>7961</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-device.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>d76ca3c909572b236b3b857c330f991bbb143c3c9ee83590b9ac480618556a9f</string>
			<key>size</key>
			<integer>16449</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-filesystem.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>fa3d32526792a4fa6f53d5356624bf9c9070d288717eaeffbbabaa4c517d3a37</string>
			<key>size</key>
			<integer>22494</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-find-root.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>773b641e2f934244eb9c549b672f0c006119a0975f76abae0409b1505911dabd</string>
			<key>size</key>
			<integer>2158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-image.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>6a4b6b3ecb62f837beb55f7e98cb7e8fbe166de38eae4214ad289b647569eff5</string>
			<key>size</key>
			<integer>3448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-inspect-internal.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>2ffbdb7784df575d18deb99fa238fe9b63551b21b27d3599372663d7fabac6cc</string>
			<key>size</key>
			<integer>10204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-map-logical.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>bb6a6106bb612d10f2a3fc130fcc03774951683c932602f50519d7a9b2d66b8c</string>
			<key>size</key>
			<integer>2125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-property.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>b386a695583b10e22a249f96bc91db853db6d225d11136b3b00eaab15b1f3879</string>
			<key>size</key>
			<integer>3938</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-qgroup.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>37b110545e2cbb895f99e137a139cac6d3250b7f7ea32da12fb5ab30b8762da0</string>
			<key>size</key>
			<integer>9383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-quota.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>eef9c8237b4511eb091f0a5232a147c0fbe847b716062a3e100da911ab519481</string>
			<key>size</key>
			<integer>13318</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-receive.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>9367a3e8931c5a632e4ffb809babc4d5d34ba9ad245dacfc84d15639370bfee4</string>
			<key>size</key>
			<integer>5159</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-replace.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>f781223c6eb5ff9fb64475acbad6d92e0f21bc84489e9bc5542357f43b886ee5</string>
			<key>size</key>
			<integer>5105</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-rescue.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>8594afac3910581807f2b69a4901c0abb642016343775a3900cd8086dfc7c758</string>
			<key>size</key>
			<integer>5051</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-restore.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>1fb9a80c3fcad0b9906ac1304fe52b20b158b220f83f18c9176ecdace4a2cdfa</string>
			<key>size</key>
			<integer>4897</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-scrub.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>8cbd8bdd9ec0089631a152b7d44f928fb4df3a5f41efc24bdcb0b3df35b9b993</string>
			<key>size</key>
			<integer>7236</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-select-super.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>1f37584c8fbbdd67ab6f12373ceb3ec907a979cd8151972d8b6791c5663e3ddb</string>
			<key>size</key>
			<integer>2997</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-send.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>05369617bcad5f280638c0e72e3b528bde5a63464d495c4dd7b0710ea7dd2a82</string>
			<key>size</key>
			<integer>4204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-subvolume.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>41ddc3e30dd3e13acee80bf020a344b83a8be7765d856d33f4e473d709ee6038</string>
			<key>size</key>
			<integer>11692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>451a2846107c1b80774d813271d785ee94788b7270854260b2aeae59825d1c5d</string>
			<key>size</key>
			<integer>6793</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfsck.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>f4cbb686a1fc538eaa39ca852ccd909ecbfaa67a8db385d725e3116cad76aef7</string>
			<key>size</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfstune.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>ac15a06a74f64e27b21ef6502f5a2faebcf71c1bf5399547691fe7feb3b4dff2</string>
			<key>size</key>
			<integer>5820</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/fsck.btrfs.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>733cadac0414eecc0d88b9ff888c50deb699ffdf5500541732f11e8b8bb00cb1</string>
			<key>size</key>
			<integer>2559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mkfs.btrfs.8</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>sha256</key>
			<string>34cf20efcb0cf841c8ac4ce17a020f403ad83cb784285fb4616c0b41202bd491</string>
			<key>size</key>
			<integer>23472</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfsck</string>
			<key>mtime</key>
			<integer>1632751770</integer>
			<key>target</key>
			<string>/usr/bin/btrfs</string>
		</dict>
	</array>
</dict>
</plist>
