<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcom_err.so.2.1</string>
			<key>mtime</key>
			<integer>1630087727</integer>
			<key>sha256</key>
			<string>87344179bc835843c56e7541c5530068c91c8c242ddb214de0d8000c0d5ca56f</string>
			<key>size</key>
			<integer>18424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libe2p.so.2.3</string>
			<key>mtime</key>
			<integer>1630087727</integer>
			<key>sha256</key>
			<string>d63580443ebfc0481c0ab7a5ff51b73dc6b5e9d9e59a2a95e38b7cc1ea5a000a</string>
			<key>size</key>
			<integer>44888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libext2fs.so.2.4</string>
			<key>mtime</key>
			<integer>1630087727</integer>
			<key>sha256</key>
			<string>de572a13572afd9b86d1958ad0d39d1ae72eb7922e505e811b566ef51faf6cf1</string>
			<key>size</key>
			<integer>434584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libss.so.2.0</string>
			<key>mtime</key>
			<integer>1630087727</integer>
			<key>sha256</key>
			<string>95b60416deec8f6fd52bd965f2577f4329a88d4c72105e8f6cdd63981e50a08d</string>
			<key>size</key>
			<integer>34800</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcom_err.so.2</string>
			<key>mtime</key>
			<integer>1630087727</integer>
			<key>target</key>
			<string>/usr/lib/libcom_err.so.2.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libe2p.so.2</string>
			<key>mtime</key>
			<integer>1630087727</integer>
			<key>target</key>
			<string>/usr/lib/libe2p.so.2.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libext2fs.so.2</string>
			<key>mtime</key>
			<integer>1630087727</integer>
			<key>target</key>
			<string>/usr/lib/libext2fs.so.2.4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libss.so.2</string>
			<key>mtime</key>
			<integer>1630087727</integer>
			<key>target</key>
			<string>/usr/lib/libss.so.2.0</string>
		</dict>
	</array>
</dict>
</plist>
