<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/file</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/file</string>
			<key>mtime</key>
			<integer>1625277905</integer>
			<key>sha256</key>
			<string>a207dd9793bd0b8a1eabe9599c15d9a121076cf7ccf883f22c4f73d65eec5569</string>
			<key>size</key>
			<integer>27168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/file/COPYING</string>
			<key>mtime</key>
			<integer>1625277905</integer>
			<key>sha256</key>
			<string>0bfa856a9930bddadbef95d1be1cf4e163c0be618e76ea3275caaf255283e274</string>
			<key>size</key>
			<integer>1649</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/file.1</string>
			<key>mtime</key>
			<integer>1625277905</integer>
			<key>sha256</key>
			<string>05f8a1a97bf18ee7ba3a30b760543352a4c96a60faf0a0eff17b302a9f4d690d</string>
			<key>size</key>
			<integer>22115</integer>
		</dict>
	</array>
</dict>
</plist>
