<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/egrep</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>f7c621ae0ceb26a76802743830bc469288996f64342901ae5292950ff713e981</string>
			<key>size</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fgrep</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>5c8b1486de899cdd010d3cacde94579999cb82d0be9ec8c131b1b56886cfd36b</string>
			<key>size</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grep</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>f10df6a04740cc30711ac109e8b7940b34a191b3c435248acfa8a1b166b3ec2a</string>
			<key>size</key>
			<integer>235912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/grep.info</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>9804966fbe98b854c1036b708f376d7c21aeed7d2fb3d15218666d70fa2ec9b1</string>
			<key>size</key>
			<integer>128044</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>9b8a180a4c00b9a575fb2a61f89b700b0052623bf15b485b0f8ee0bc4345bdaa</string>
			<key>size</key>
			<integer>1171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>f838ebc849c25cc377930e83c51eb07e08a4098f48ccc8f5023cbf1e9e446e3c</string>
			<key>size</key>
			<integer>1439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>4a50d5cc655ea6ba976838739a952c8b879cd508526aa7e0cc1eafea72257ebb</string>
			<key>size</key>
			<integer>22669</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>8a1bd8c5442cf50a1a7ca4d7d8df8b71a7919cc91de53ca901603cfced303cc4</string>
			<key>size</key>
			<integer>12532</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>67d799f369e8e4bac825a328afe99be160887597f1e21000a156bf4ebac1431c</string>
			<key>size</key>
			<integer>17859</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>68b947b4ad1a809d6d66d1b0863f6344f18e9c55b81c37bf1c5fb0eedf750657</string>
			<key>size</key>
			<integer>13489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>e75078a5e858bc19c4faaefdc46a400f6d4142f13591edb1fcb929d879c60363</string>
			<key>size</key>
			<integer>17133</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>43d79f43c9fbb5e67f4ecf9ed570c196d5198cb318dc7213272a77a8fdef72da</string>
			<key>size</key>
			<integer>3746</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>4eb35717091ebaafa151afb66d00f50e09c818b133457a0cd47d447779499d3b</string>
			<key>size</key>
			<integer>16844</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>6d1fb21b2cc3468e4013ea2c1b5281184b9f203510103d3a302488d625ef66de</string>
			<key>size</key>
			<integer>7632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>5d0b536713e73d1c86172c28f75450c1ffbcbace74c4e1107e611b624f673c3a</string>
			<key>size</key>
			<integer>16094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>b049f94194566e609ee9f5739bfa6fde1e42dbac22f191e09030adcd455c4f72</string>
			<key>size</key>
			<integer>1278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>99f95f468a8b16011411034cd7cfec2cf0b1bfd6ed9579d37cacd76a924f2482</string>
			<key>size</key>
			<integer>17251</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>327a7c78aaa6b82379b17af3ce8aec95f5eba2c4013aed27a7384ef3395c4977</string>
			<key>size</key>
			<integer>16316</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>c0e1ee2aa8b1474a7c793ec521513c9b471c9309e757c9028d633d0d00c752d8</string>
			<key>size</key>
			<integer>10510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>f99a9e76efb616d43ba5c725016a11fc6b8d9237c1d18411d98923751dc72409</string>
			<key>size</key>
			<integer>16215</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>d2acfd9c0b1245a987ff70d1bc84573c86ae6d3f0601565d2f4b74329b5ca261</string>
			<key>size</key>
			<integer>1138</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>4d72dea59a285359fe163001b8b246c283d83fc45e2e82818fe14b1f51962429</string>
			<key>size</key>
			<integer>17302</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>8f4dfec7e5b224111dae88ee06f16b6ca21ddb218d6a083d6f33d8c4872406b1</string>
			<key>size</key>
			<integer>12671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>f0a096a54112815cc761636cabd3824ac2425034017e298a2a25280cbfbe2633</string>
			<key>size</key>
			<integer>16709</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>c8d657e0db893fc49c5cd7f15d0f33c1278103e02a135807f7bae45dc9cb4123</string>
			<key>size</key>
			<integer>15988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>efb5d62181d62901884951ef19ad05487fbdee0bfed1059da20cd878cb7a6fae</string>
			<key>size</key>
			<integer>11404</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>fd1244c3d689e375a1df868437ad5f9c3546405746ad39ff6d9f1131dfed0735</string>
			<key>size</key>
			<integer>18276</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>5abae431f7cffeed7837b2ebe3b94cee9e2e1cca8e53fc7d46bea2fc2a181bb3</string>
			<key>size</key>
			<integer>1518</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>3585cdcfc28b90e4c281db42dc2d68be2b82edb748743df610819966e4af9190</string>
			<key>size</key>
			<integer>1384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>37c89d6846d0d5133a171f5a4c274bf8e6487869f80371c28b7f2d8af56e2850</string>
			<key>size</key>
			<integer>16769</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>a1339b62942036c94eb2ed2b5148900ef96612ffed0f1a763be632c0cb732895</string>
			<key>size</key>
			<integer>17704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>ca8f364ea56123d866a726f87414b44a5cb6890b5850404abc67959c0e4cda6c</string>
			<key>size</key>
			<integer>5084</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>fc662fa9fbd163fd4013cb28fbd71547225de281765613eb6b74556f6bd9b646</string>
			<key>size</key>
			<integer>17594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>5904563c8ecd4f587eb7989556ed8dc9c8587bb343909fe0f6ef36a76ec8740f</string>
			<key>size</key>
			<integer>16703</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>c3eabcd743da25c269bc03546110cf6675fa74e0e47a639fee5b9c76380af9b9</string>
			<key>size</key>
			<integer>16503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>15059ba382277e7d2e05e7b0519f132f473fd37986174e51d126a8a4359ac9b5</string>
			<key>size</key>
			<integer>14257</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>c33d1c32cc003866f1d214dc379301f391827d5c45ea6c8289e40e8b5da38b1e</string>
			<key>size</key>
			<integer>22201</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>81288d1703d313c01eba865c01a75f1eaf0569d766b5aa505b6219df0b859459</string>
			<key>size</key>
			<integer>17168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>098730b50faaf4259b527eb54d9e3f938a1909235ac6fb00655296d98293d112</string>
			<key>size</key>
			<integer>10177</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>f30faf19075d737ff54b894b13e69b542b008bbf7d992ed9fbf664cfc7a137eb</string>
			<key>size</key>
			<integer>19902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>1ab0c19664df42dcc57b3eed2a78b0951f7f3b4ca71abef328e9f60e93faab26</string>
			<key>size</key>
			<integer>16671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>2aab222247d5cbf39896160b43e4d59be13cf1a576ac30032b357fb7e230f3de</string>
			<key>size</key>
			<integer>16907</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>a1856268837a10864d410e4992a5bea8f23e8e91d577a2031ee66edd28db0593</string>
			<key>size</key>
			<integer>1249</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>2236f67b74870e518a42fd23363110ef87b64b5d5ae4c4027fc244db1edd6402</string>
			<key>size</key>
			<integer>22750</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>14692374c8c766034685986577247d8aa7f5b5e971cad568e564b7eb17325efe</string>
			<key>size</key>
			<integer>15706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>e9f4c3f70fa0ab5b2f72d1328161256d7ee137c5f2d715ec46906bef614ef738</string>
			<key>size</key>
			<integer>15229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>e678be5b81f08c9183c8d22d25ae446effa63d0396fe261a2ae09b2a084caf2d</string>
			<key>size</key>
			<integer>16228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/egrep.1</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>63c67a6e12e52a18c217adca1e7a88ebf1590df82e1234ad9061b4d6db34eefc</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fgrep.1</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>63c67a6e12e52a18c217adca1e7a88ebf1590df82e1234ad9061b4d6db34eefc</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/grep.1</string>
			<key>mtime</key>
			<integer>1629286488</integer>
			<key>sha256</key>
			<string>6037fdc4012648cd1d6c2a5810375fe48000509b72b7d148aa4dc35147a403b3</string>
			<key>size</key>
			<integer>33794</integer>
		</dict>
	</array>
</dict>
</plist>
