<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gunzip</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>c75eb9dcb63d026047fe6bfceb5689bd0bda0d9638b6ff9d2393672c42698e44</string>
			<key>size</key>
			<integer>2346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gzexe</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>67c985956ed68ba2ea6441f237719c26a7d890df631f52618a8f4ee8d9645f11</string>
			<key>size</key>
			<integer>6376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gzip</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>b15544be443075471e5c357dbfb624a7b8061198a9ef36872f55473492ac6c44</string>
			<key>size</key>
			<integer>97400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/uncompress</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>c75eb9dcb63d026047fe6bfceb5689bd0bda0d9638b6ff9d2393672c42698e44</string>
			<key>size</key>
			<integer>2346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zcat</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>b27fa7f72dd4f9673025b30cf3d33d0355952c921a4dec29f3671ce3e1d1317b</string>
			<key>size</key>
			<integer>1984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zcmp</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>caa099260e546bfa8281ee2504bd7de519b632b60e8a219ce85b019267f37e51</string>
			<key>size</key>
			<integer>1678</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zdiff</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>81545f58f009f8518b3ac9ab983a5601b939dba2d17e4b240fff32c0b8c361e5</string>
			<key>size</key>
			<integer>5880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zegrep</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>67ee7fadec7ea53b4c1f8cfc3c81427b29c0b1381e80b55642617620c84d0bcc</string>
			<key>size</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zfgrep</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>87ab5f4c7cb344e409d614d1a69cc156b3b1053d6ae0b59d8e2c2131f3e63e5a</string>
			<key>size</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zforce</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>2b9cdd78adb15134aea95fad27ad5f5b53ab3b4777a53ccef60fa3ed8c604a19</string>
			<key>size</key>
			<integer>2081</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zgrep</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>f12074acfb6b4bb75e5b82b5c5e97d07bd6999ad61a885d463bbc82f17ce8784</string>
			<key>size</key>
			<integer>7594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zless</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>bc7250aa41ef9dc3f57e1596436ef72ca593f8b21902660ba27f81de0850ef2f</string>
			<key>size</key>
			<integer>2206</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zmore</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>c3a6ec69a030c8f46168896719e2dbf90c436d6ba5ed7230469ab8731dc79bd5</string>
			<key>size</key>
			<integer>1842</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/znew</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>e383f77d5031587f0162f0e3b9f5218d3b60fb2eb4c74258a61a875bbfd5881f</string>
			<key>size</key>
			<integer>4553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gzip.info</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>73ca5dcffe550dc558c1921268799586aed9e7b465a0b0bb63a76ddbef375884</string>
			<key>size</key>
			<integer>48627</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gunzip.1</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>022105f453b1822f8a8c36283ae127dd764cbd57ef0e990ab419f7ac53e8619a</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gzexe.1</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>1d0b67ef1eac02b1a0ee4cb63049991283a8924eab0aab2cc78cda97133f4ba3</string>
			<key>size</key>
			<integer>1418</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gzip.1</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>2e05101f3052e5e2f9dfc6df78dbdc4c5217db75675925a554f358035875d934</string>
			<key>size</key>
			<integer>16594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zcat.1</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>022105f453b1822f8a8c36283ae127dd764cbd57ef0e990ab419f7ac53e8619a</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zcmp.1</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>d5499ae1f25924d87bada83daa881e7f26564fec01b5a8953d31b7c2ac65782e</string>
			<key>size</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zdiff.1</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>b8bd004f0bf4d81292281032ce1d0800e66e3aaa014bd66ead4bcaa996715c63</string>
			<key>size</key>
			<integer>877</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zforce.1</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>43ae0305a79822418342714eef863f26de32b9ad7f237b6b83ddc4560d2e63b3</string>
			<key>size</key>
			<integer>605</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zgrep.1</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>abc157d974b39c4e06af4c5475f2a6227992f1c1d8896e376695c69da5962b4b</string>
			<key>size</key>
			<integer>1095</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zless.1</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>4f5ea4a73d2a333f1f53a2aadf1dc0163007a8db3c3788d658d64506995a7ca7</string>
			<key>size</key>
			<integer>1989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zmore.1</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>5b44efdc2eb44f6a4274eab917161fd62f78d5e58ec73948f2b831651ade1dc2</string>
			<key>size</key>
			<integer>3701</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/znew.1</string>
			<key>mtime</key>
			<integer>1632229267</integer>
			<key>sha256</key>
			<string>9cdbb4e63fc1fa273c15e951f23e4bf84919e1280feb2826ebde18ce7b5eecfb</string>
			<key>size</key>
			<integer>1108</integer>
		</dict>
	</array>
</dict>
</plist>
