<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/iputils</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/arping</string>
			<key>mtime</key>
			<integer>1628685094</integer>
			<key>sha256</key>
			<string>eabf43d9d954c4ed0af9fb56f8227b39ad3c8f1226ca0bba909561e8164ed362</string>
			<key>size</key>
			<integer>26680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/clockdiff</string>
			<key>mtime</key>
			<integer>1628685094</integer>
			<key>sha256</key>
			<string>1a1b262a2fdcf86a408a98f3b48d47184c73c3065f91b1b2bddbca8a65eb98cb</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/iputils-ping</string>
			<key>mtime</key>
			<integer>1628685094</integer>
			<key>sha256</key>
			<string>e3c6cf525c9e44858af638053e615d06983090e19d1a981d1d38b659f6e090cb</string>
			<key>size</key>
			<integer>76592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rdisc</string>
			<key>mtime</key>
			<integer>1628685094</integer>
			<key>sha256</key>
			<string>c8d3490bdca9123f8f6d8411c8e85ddf4a221571ae6da796345f53f80edd07bc</string>
			<key>size</key>
			<integer>30864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tracepath</string>
			<key>mtime</key>
			<integer>1628685094</integer>
			<key>sha256</key>
			<string>f7c1716ebc03150ee935c0e8b2094e4b1236e36385eef744e00fdd76feaccc4b</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/iputils/LICENSE.BSD3</string>
			<key>mtime</key>
			<integer>1628685094</integer>
			<key>sha256</key>
			<string>9acc4bc871a4742550158e3696dcb381953172ef808d04ca248184f9f6322712</string>
			<key>size</key>
			<integer>1428</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/arping.8</string>
			<key>mtime</key>
			<integer>1628685094</integer>
			<key>sha256</key>
			<string>99a7a36fddebe7cf6ff73243808ba7647d3769de2821148235d76cd73b6508be</string>
			<key>size</key>
			<integer>3750</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/clockdiff.8</string>
			<key>mtime</key>
			<integer>1628685094</integer>
			<key>sha256</key>
			<string>73f8194cc738c108b68165ce651d56ad90048a86e6f9eab4a676473f7329b2b7</string>
			<key>size</key>
			<integer>3497</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/iputils-ping.8</string>
			<key>mtime</key>
			<integer>1628685094</integer>
			<key>sha256</key>
			<string>f226d1d7af4563ff4f701e36de558eb9e20358c444470785203d2cb48abc23d3</string>
			<key>size</key>
			<integer>17902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rdisc.8</string>
			<key>mtime</key>
			<integer>1628685094</integer>
			<key>sha256</key>
			<string>d1581de23535025d1e8ed519011b3fb5ca68bb7896e32d99efb8955a61c339a8</string>
			<key>size</key>
			<integer>4928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/tracepath.8</string>
			<key>mtime</key>
			<integer>1628685094</integer>
			<key>sha256</key>
			<string>8b581c8edea8bb7157f609b03af1b819e9e0c00c0108d92629ef611b3c9f440b</string>
			<key>size</key>
			<integer>4802</integer>
		</dict>
	</array>
</dict>
</plist>
