<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/less</string>
			<key>mtime</key>
			<integer>1626552081</integer>
			<key>sha256</key>
			<string>087c27078db0ae6d7899ca8b995783f2a46f277c5217edf15496db157edd8b4f</string>
			<key>size</key>
			<integer>203032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lessecho</string>
			<key>mtime</key>
			<integer>1626552081</integer>
			<key>sha256</key>
			<string>7cabea3a7afb4313a42e1af3c82872224199f184043035b9873f40882c5ab025</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lesskey</string>
			<key>mtime</key>
			<integer>1626552081</integer>
			<key>sha256</key>
			<string>00c79d7893a050d7406c88f4056afd4e832becf4edec2951d4cdbe15e5b1686c</string>
			<key>size</key>
			<integer>24032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/less.1</string>
			<key>mtime</key>
			<integer>1626552081</integer>
			<key>sha256</key>
			<string>8e2b2378fc56bf9cbc0e4039cea27a2cc5c1132e82b9fd116d1d76cde6a5c1c4</string>
			<key>size</key>
			<integer>76476</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/lessecho.1</string>
			<key>mtime</key>
			<integer>1626552081</integer>
			<key>sha256</key>
			<string>d1f7231a93d86b35d6e1d6b8ec4ff6afc065b636fabab56b647f8a61fd117370</string>
			<key>size</key>
			<integer>1544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/lesskey.1</string>
			<key>mtime</key>
			<integer>1626552081</integer>
			<key>sha256</key>
			<string>6f1ccb72747d6224899a8829abc4d0d1e0b11813c3434987bfcf086c7de6df9e</string>
			<key>size</key>
			<integer>8624</integer>
		</dict>
	</array>
</dict>
</plist>
