<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libldns.so.3.0.0</string>
			<key>mtime</key>
			<integer>1627396927</integer>
			<key>sha256</key>
			<string>ad44bbf35eca52bebc5261375814c566acd98afbe6ff2a11e2d4188ad9a8feff</string>
			<key>size</key>
			<integer>407072</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libldns.so.3</string>
			<key>mtime</key>
			<integer>1627396927</integer>
			<key>target</key>
			<string>/usr/lib/libldns.so.3.0.0</string>
		</dict>
	</array>
</dict>
</plist>
