<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/engines-1.1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/engines-1.1/afalg.so</string>
			<key>mtime</key>
			<integer>1629911792</integer>
			<key>sha256</key>
			<string>081a6b55b0f6a472ff5a723a1f991ac72591eb74fc6e067eb8c561e8eff76ac9</string>
			<key>size</key>
			<integer>22856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/engines-1.1/capi.so</string>
			<key>mtime</key>
			<integer>1629911792</integer>
			<key>sha256</key>
			<string>32ac7abd366e3658d5cab34e9e39dcb79ecdda4a77649c27f733387af1c6bc28</string>
			<key>size</key>
			<integer>13936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/engines-1.1/padlock.so</string>
			<key>mtime</key>
			<integer>1629911792</integer>
			<key>sha256</key>
			<string>ae1b1964e9d48732073bfc45d01a0fcda9a1fc4bb8738c9cc722e4dfda43932f</string>
			<key>size</key>
			<integer>26600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcrypto.so.1.1</string>
			<key>mtime</key>
			<integer>1629911792</integer>
			<key>sha256</key>
			<string>51c5e4416db6d2ce07f76f24300189e8fd41d71ac03a0b542f3467fb7afd6620</string>
			<key>size</key>
			<integer>2974632</integer>
		</dict>
	</array>
</dict>
</plist>
