<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libedit</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libedit.so.0.0.66</string>
			<key>mtime</key>
			<integer>1623793296</integer>
			<key>sha256</key>
			<string>00313055b4edd5c1e56642e1e9f156bbe8a91eca2c9f90a992ab893ce2089618</string>
			<key>size</key>
			<integer>219272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libedit/COPYING</string>
			<key>mtime</key>
			<integer>1623793296</integer>
			<key>sha256</key>
			<string>9da6c9c74987a36c84302982799d17d2f748ba1c1c0c471425716173c1d07649</string>
			<key>size</key>
			<integer>1615</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/editrc.5</string>
			<key>mtime</key>
			<integer>1623793296</integer>
			<key>sha256</key>
			<string>f6593c45ed1b415d90f093ad1e84e307517d556f1a49f46356d97d5614e68626</string>
			<key>size</key>
			<integer>5472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/editline.7</string>
			<key>mtime</key>
			<integer>1623793296</integer>
			<key>sha256</key>
			<string>963241577dc9588615e84b42df5cf747c5f9daace8d88e87583dc82f0ca80368</string>
			<key>size</key>
			<integer>33148</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libedit.so.0</string>
			<key>mtime</key>
			<integer>1623793296</integer>
			<key>target</key>
			<string>/usr/lib/libedit.so.0.0.66</string>
		</dict>
	</array>
</dict>
</plist>
