<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/capsh</string>
			<key>mtime</key>
			<integer>1630085471</integer>
			<key>sha256</key>
			<string>6bc2cb1c74f3e88ecb31f6b64974e6869c5b8fe20f45489411bc02fc993ac9ea</string>
			<key>size</key>
			<integer>54048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/getcap</string>
			<key>mtime</key>
			<integer>1630085471</integer>
			<key>sha256</key>
			<string>95d96b6142a5bc77de10c3922063dffaed56328986e226091a5852451cc289fc</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/getpcaps</string>
			<key>mtime</key>
			<integer>1630085471</integer>
			<key>sha256</key>
			<string>822b4cef7ab461da61c51e7e82300c0fea2e2e3025db34a3fad77a0e32621660</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/setcap</string>
			<key>mtime</key>
			<integer>1630085471</integer>
			<key>sha256</key>
			<string>bce8887ac9877cf7dc1f22632d7f62cfae76180f505658ece3ea33388592e32c</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/capsh.1</string>
			<key>mtime</key>
			<integer>1630085471</integer>
			<key>sha256</key>
			<string>5a34f661d55112566f7548e780fd0492c136540e0dda342b952629aaa3021734</string>
			<key>size</key>
			<integer>8417</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/getcap.8</string>
			<key>mtime</key>
			<integer>1630085471</integer>
			<key>sha256</key>
			<string>53e6e928bc9758ce26590cee6f288f5790085cefcc21a2b9e18ae608b4ba08f5</string>
			<key>size</key>
			<integer>876</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/getpcaps.8</string>
			<key>mtime</key>
			<integer>1630085471</integer>
			<key>sha256</key>
			<string>4bdd32c7e1021c330386cc4c6232c5f46be36dd15918177dec438f074ef236d7</string>
			<key>size</key>
			<integer>1300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/setcap.8</string>
			<key>mtime</key>
			<integer>1630085471</integer>
			<key>sha256</key>
			<string>d884d54539ad7cbd564f43ff7f16e640c21e59d4e97e78fb3cac5bb5836ea936</string>
			<key>size</key>
			<integer>1788</integer>
		</dict>
	</array>
</dict>
</plist>
