<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libpcap</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpcap.so.1.10.1</string>
			<key>mtime</key>
			<integer>1623783921</integer>
			<key>sha256</key>
			<string>56c431ba03da407c5f8edcb18f17312b526639c8a6e48c348e9efcda0c342f07</string>
			<key>size</key>
			<integer>301400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libpcap/LICENSE</string>
			<key>mtime</key>
			<integer>1623783921</integer>
			<key>sha256</key>
			<string>8a54594d257e14a5260ac770f1633516cb51e3fc28c40136ce2697014eda7afd</string>
			<key>size</key>
			<integer>868</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/pcap-filter.7</string>
			<key>mtime</key>
			<integer>1623783921</integer>
			<key>sha256</key>
			<string>0689e4ed200d79a76bdd5d9e8bab085b19b771800c7926c01df9e5b2e19941a3</string>
			<key>size</key>
			<integer>35508</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpcap.so.1</string>
			<key>mtime</key>
			<integer>1623783921</integer>
			<key>target</key>
			<string>/usr/lib/libpcap.so.1.10.1</string>
		</dict>
	</array>
</dict>
</plist>
