<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/man.conf</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>fed05f8eb6639d9936f650f367f2be1bb9545e9683d0b34a47f35b5c33b47a9c</string>
			<key>size</key>
			<integer>197</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/cron.daily</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/mdocml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/cron.daily/makewhatis</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>02a49b22b3e96257ac04603f3713f06f6f510e6b7ec14269588d7afd5d2d2cbd</string>
			<key>size</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/demandoc</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>18c9b1a95fa8a2b4e208fbd70e1b06b15c4c46d84edde853becf396399cbc063</string>
			<key>size</key>
			<integer>262808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/makewhatis</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>3b64f2db82ed8dac2d38cd70f2b6dc706bf41b6fdf0903f5b05471c7fa552f9a</string>
			<key>size</key>
			<integer>533144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mandoc</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>3b64f2db82ed8dac2d38cd70f2b6dc706bf41b6fdf0903f5b05471c7fa552f9a</string>
			<key>size</key>
			<integer>533144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mandoc-soelim</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>ba2bd86494d4ee879af2d44e357b9bd021baae5d702700a7e3962a9ff994ca89</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/mdocml/LICENSE</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>d9bb86f1eb104753647b2d96d2fdfd6644fb9d1f8caad8afba71ecbe56b038a6</string>
			<key>size</key>
			<integer>2524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/demandoc.1</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>1eea70c3666021108577e395bd99cca952159b590689d026f0c914474b221355</string>
			<key>size</key>
			<integer>2707</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mandoc-apropos.1</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>54f5147065a5e1f7f70df7aa8b0a8381a5bbd5a034af24215a6f1ac8ba7afa6c</string>
			<key>size</key>
			<integer>10983</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mandoc-man.1</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>b1db7b1212a44ba2b218ce9694098171416f0d3518e711e6d047525eaae40eb3</string>
			<key>size</key>
			<integer>9833</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mandoc-soelim.1</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>b73fb5326a30c40fb1c6e7920968ea753d406265149af4948c54758af4402b03</string>
			<key>size</key>
			<integer>2661</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mandoc-whatis.1</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>54f5147065a5e1f7f70df7aa8b0a8381a5bbd5a034af24215a6f1ac8ba7afa6c</string>
			<key>size</key>
			<integer>10983</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mandoc.1</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>7b6a87150f779d4997d419937c5c58392c98c188dfb73793b3f2cc4c928d7ec2</string>
			<key>size</key>
			<integer>58653</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/man.conf.5</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>4dcf1ba46c036e313cb64f16dd59464afb8c58820008061925114c8ffa0ce040</string>
			<key>size</key>
			<integer>3846</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/mandoc.db.5</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>7b27cddf9fcbd8cbba5c3b718d8873b27e003a8caf32eea817baca1b4d437252</string>
			<key>size</key>
			<integer>5874</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/eqn.7</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>c213154eb6fec3de80374632e597f3ac7979c9c20f388d497dba79fdead9b67f</string>
			<key>size</key>
			<integer>12862</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/man.7</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>93af94ba45c7a5a27a95f3bd18b658595ea83057af0b5e66fc865f51a6245159</string>
			<key>size</key>
			<integer>17815</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/mandoc_char.7</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>23a5194c908692753319b93d5711cf25e558fd009e607eeb96ae33c93ebb331e</string>
			<key>size</key>
			<integer>29833</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/mandoc_roff.7</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>9803599718617825f15cc0f3b8ada7ee5a85f147650ef991c1f88754d84c214a</string>
			<key>size</key>
			<integer>63448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/mdoc.7</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>e8404b9da92d7aa9b3cf2da4bc076bd275ff86b5ab12a14abf979a2dab4147de</string>
			<key>size</key>
			<integer>77101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/tbl.7</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>00fea35ca7a44fcf0cfa83c3d91d3db19e77598ae62279c68ef040dfc0642aec</string>
			<key>size</key>
			<integer>11214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/makewhatis.8</string>
			<key>mtime</key>
			<integer>1632493295</integer>
			<key>sha256</key>
			<string>6e947b656c7018481e0123be3a3716a51a5324998b794f7378f62ab87c34a031</string>
			<key>size</key>
			<integer>4897</integer>
		</dict>
	</array>
</dict>
</plist>
