<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/sshd</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>64576021515c0a98b0aaf0a0ae02e0f5ebe8ee525b1e647ab68f369f81ecd846</string>
			<key>size</key>
			<integer>232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ssh/moduli</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>56f8575326992f4079ba8d7a5a69f750cccb72ef4af39df3648eda122e16c4e3</string>
			<key>size</key>
			<integer>578094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ssh/ssh_config</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>3ec85d2829d9fb50db013c691d80f5342063210a639a1082bc31bdacec8f0dca</string>
			<key>size</key>
			<integer>1531</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ssh/sshd_config</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>55fb296ee240de15f898ae38efde0ab69a500eb9c56d533a5fe51d92bf3435de</string>
			<key>size</key>
			<integer>3109</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ssh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/sshd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/openssh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/sshd/run</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>220dde8d4495bab6f08e063860c0ad54cc70ef8b7913a00e27126f1d5eb0af5f</string>
			<key>size</key>
			<integer>146</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/scp</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>1241cebc89bfee62f2c3e9fc8d24625ff17525f528a34e9e7abb212b7e321083</string>
			<key>size</key>
			<integer>207296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sftp</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>530a6caaac2b06bc0cc7deeb34eb5af68bb1878df2898aa2ddfdb9ffaf61e9fb</string>
			<key>size</key>
			<integer>215464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssh</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>6826b7931cf77912fb1b6d81aec02b0e32911b078dd049b1c72607146bc94ae2</string>
			<key>size</key>
			<integer>879296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssh-add</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>4af94d4934d2e3be66071fbd8a2271bb506c522cd390bcac5115196a16d9d5a1</string>
			<key>size</key>
			<integer>395456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssh-agent</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>df26055eb5e86213c126f17fd799c73e6de01127d9e8f4d410baeb6f202608fe</string>
			<key>size</key>
			<integer>370888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssh-copy-id</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>327b697b22c58151fb7e76ec24c36cfbfa89c6dd3539ea722b2779fd90333c79</string>
			<key>size</key>
			<integer>12676</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssh-keygen</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>4fec4b374b437f9b649a43abaadbcf6a3facefee6125bf37194cd9df567a0502</string>
			<key>size</key>
			<integer>522448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssh-keyscan</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>620c04f7c9df935e52f6f2144e6f0c54555c801a27484e199f0f373b06f3743a</string>
			<key>size</key>
			<integer>485592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sshd</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>964161f7eec600e74b39a1ac88817a8d81268e8f060e2d4500360a5a7a4932cb</string>
			<key>size</key>
			<integer>949576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/sftp-server</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>da92fba2a2ead2bccca432b5110f40a4c88e0f7057d3061adbaab371f8a83d9e</string>
			<key>size</key>
			<integer>153792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/ssh-keysign</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>cd57f130fef427654e268070df12fa884f3641f5ad08ee6c88709913fdb8f180</string>
			<key>size</key>
			<integer>514440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/ssh-pkcs11-helper</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>f1f7bc6526cf0b2b00d70194841858a7c0e069b300b20b2eb0748170f4cff9ce</string>
			<key>size</key>
			<integer>370880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/openssh/LICENCE</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>432abf7480fb31473a6706627212913fc70032e3fb71b90fecb28ae26a2d741d</string>
			<key>size</key>
			<integer>19071</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/scp.1</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>8407cae2a2ef7659723f883512dcd80df120dd4aabe974696a341d6b0e34df1e</string>
			<key>size</key>
			<integer>7606</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sftp.1</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>475dcf50180c062eefcce5af7e824d22399a0f6dd9b23e4a70866d3291d69562</string>
			<key>size</key>
			<integer>16405</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ssh-add.1</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>4e39da118a5a9f67a324d243fc5760b8f592b45942dae1d2766c003381f49b8e</string>
			<key>size</key>
			<integer>7918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ssh-agent.1</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>b412c863d2347abc83be79e955787f82db1cc13fb61dfc3abde49d7f584b955c</string>
			<key>size</key>
			<integer>7223</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ssh-copy-id.1</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>34ffa0eac5184983ab0cb3bb33aa322105a37c805238aee77d94bc4899f23267</string>
			<key>size</key>
			<integer>6887</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ssh-keygen.1</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>dad603e7de4c27a30b845465a2114993f03fee2f990ba2086138d782b38c9adf</string>
			<key>size</key>
			<integer>38872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ssh-keyscan.1</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>83fd47461235ba817a54179d3b26be47a35e36688e2cab58122429ff008eb2d5</string>
			<key>size</key>
			<integer>3924</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ssh.1</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>f121a1302cc6888f0d0e6b2af044254526588f5460a81d648c2487e5516abf1b</string>
			<key>size</key>
			<integer>47103</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/moduli.5</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>d65e6f26a1cf1661f4e0ffc18738a267244f79e8f247dd1ad446567b439a2e93</string>
			<key>size</key>
			<integer>3693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/ssh_config.5</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>bcdd308a46c68cb8c2be4386bdb5090357685a798460cb2bf9e759e9f6730d42</string>
			<key>size</key>
			<integer>62435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/sshd_config.5</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>25ef5aae0e6885203ded184ad912ed121948ffae5d32520d84a8da1276013571</string>
			<key>size</key>
			<integer>55837</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sftp-server.8</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>163daf64267f61f7cc64bdae7b786a60aeb8ce0dddb697c299134c65e8a1ece6</string>
			<key>size</key>
			<integer>5102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/ssh-keysign.8</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>fb60f2d42220a0630cad154270a004cb8d5a28aff728bb40b65695756cd45437</string>
			<key>size</key>
			<integer>3015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/ssh-pkcs11-helper.8</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>37ec2c25e4164710c3b0cb065a272811a06587b7e58520339409a40dc0504a09</string>
			<key>size</key>
			<integer>1727</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sshd.8</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>sha256</key>
			<string>3cb0f94d7be48cc740e0aa52bc984867895e82e2541477814f43f53ef2745d15</string>
			<key>size</key>
			<integer>32181</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/sshd/supervise</string>
			<key>mtime</key>
			<integer>1632930296</integer>
			<key>target</key>
			<string>/run/runit/supervise.sshd</string>
		</dict>
	</array>
</dict>
</plist>
