<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>9f4dfeb191738b22af53dee3536f1ecc4320d2bdc6605bde80de2d7965ffb5cf</string>
			<key>size</key>
			<integer>33113</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>f8025ebf6be740893bb0167dcea78b63d5996d06a881981f34d3297108a732b3</string>
			<key>size</key>
			<integer>499814</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>cffc572972d95be0928e79a1283e0349b6e19be08d0aa716b7bc100a65bda476</string>
			<key>size</key>
			<integer>411488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>02392b8971ff9469ae2e288f0a8219ebf4cb59b632ff576159656da9c79f7e89</string>
			<key>size</key>
			<integer>507536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>a08a22d7800f06ac60f62415d4bd05a347dba47cc9317800d59ba754b1e0be7b</string>
			<key>size</key>
			<integer>506234</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>3a81184cc0fdc9534a3771355deb862db50223081d0bf793abc3cc2935e3d469</string>
			<key>size</key>
			<integer>20833</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>1f2500d658f1e35b905fc31694c948b6a112066a39ae65c49c48f9215e264261</string>
			<key>size</key>
			<integer>20015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>95580cbb50ddbaa497c4c173951f496d2b1c5c93cee1c902161804007c65fad7</string>
			<key>size</key>
			<integer>81680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>de2bc65c1b9c10d1cc115cac819c18ca01a4507e65e32fe85a9c2b56a9ef501b</string>
			<key>size</key>
			<integer>512529</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>423f37c5106b28e73b678325c6675e86f13199fb4ecb92b34a334e3131e02342</string>
			<key>size</key>
			<integer>16392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>fbeb407833ae87a3610bc4068d1ea2094c8888c5b9f7a81497e54b34a2aa1e71</string>
			<key>size</key>
			<integer>493326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>0d036f0530a01d02e1a33ef806f0f2a071046d7187bee80768db0d307eb1eba3</string>
			<key>size</key>
			<integer>39725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>ba40deba45be5c062949404a1ff694c14bb51dd53ff0a07d98ce5025425796c2</string>
			<key>size</key>
			<integer>43213</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>25afc5e2941c418c5e6ba37df615266f4e3700f27b1d82388e2b27cb33ff377e</string>
			<key>size</key>
			<integer>31911</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>51c426d0d39f796aee86e48e6787bf14ad48f9e07b40b66c4f67214afe9fc3a9</string>
			<key>size</key>
			<integer>406256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>5c053483dcd23fd480d1b19f2cf6b2bfb275dd9cf4f180f5792f8394c0e91e84</string>
			<key>size</key>
			<integer>332863</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>38ccf28a7dca97f199c77f06cfe35f1a773eaa1f15fc2a5f98ef615d9ed75230</string>
			<key>size</key>
			<integer>495243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>bc46a96a73a32792b8fd630bd976e0d554e0822ccccef02634d70b46b3b7b974</string>
			<key>size</key>
			<integer>485752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>eca74f6ca371efbb049a3bea309020db587f357920e9b124f5b40f4d30ab5818</string>
			<key>size</key>
			<integer>494684</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>15c2f6689723df9d954250d712477f7f567377c01109173a7ed23c333968e388</string>
			<key>size</key>
			<integer>201073</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>a8ae03693e88a94819c1789ea377fbb3c2ad7c4772d423f3e208d2e549304689</string>
			<key>size</key>
			<integer>31148</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>96ad1f18be3549c0d083791f848765e6bd4b1d0b9f1587ef27965861b8dfae97</string>
			<key>size</key>
			<integer>458754</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>2fda9931d1f27f120653e560cf88bf30565c12f7868e38c737285b67351d08fc</string>
			<key>size</key>
			<integer>352529</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>3dafd630387d155ee3db43e769ca71eef0c3bacc6f22d965a2f696e1fd0de7ea</string>
			<key>size</key>
			<integer>638853</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>992e1e78edc5cc9958839f763d2ba03b4c77c48e11956b930be26b6f1002ce14</string>
			<key>size</key>
			<integer>324070</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>95480d63a48e71d11251e77b7ec960502cca727648623c6e24d00d5e0f1a831e</string>
			<key>size</key>
			<integer>363491</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/util-linux.mo</string>
			<key>mtime</key>
			<integer>1629980415</integer>
			<key>sha256</key>
			<string>277f8b7f55f5a5b76e0075a0390e46ddabc88b5547ecb9b4ade600b73182c2c9</string>
			<key>size</key>
			<integer>47625</integer>
		</dict>
	</array>
</dict>
</plist>
