<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xfsprogs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/fsck.xfs</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>85ea3376f3952fea4bf3a57c57792ed4f035f83bd66242533f7a2724d6a94d35</string>
			<key>size</key>
			<integer>1968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfs.xfs</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>7dd47af7e809eaee76c3429b8ac026bb8dffc8b320849e05c5f75380ff72e68d</string>
			<key>size</key>
			<integer>518872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_admin</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>4ee5d795eb4fa767022145bf57cb0c5f10c96c3fe3ba633ebf2dbd9ad70dcf53</string>
			<key>size</key>
			<integer>1407</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_bmap</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>f31ca5ef606faef79cff452e397a5bf90725c878bae3e93303f4f102365addf8</string>
			<key>size</key>
			<integer>695</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_copy</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>aa3396a339f19b4ef3da1b714ad5431d67006bdfeb148e985a404e7151d35846</string>
			<key>size</key>
			<integer>457144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_db</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>7f270564395f45299a0f12c581dd1a06a83461906c64e36d0cdb4557760a349b</string>
			<key>size</key>
			<integer>807288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_estimate</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>80465efb94ddd08af4ab6fd5b3212c9e189b7c94a1f375166c81d19a05c8b2f0</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_freeze</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>1d1bd73da0bbe86595d5543b8796353b5fbf9f7470b4162c1dc5e26459ea9300</string>
			<key>size</key>
			<integer>800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_fsr</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>890b6e4e6059e8b3d253628284d12d4c993a0a4e5544df3f0d6d5b3ac55b4ba1</string>
			<key>size</key>
			<integer>59480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_growfs</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>434f527b1700c208b93af69a4b91f32f4273934a9ad97db3f2a1f5048fcea05d</string>
			<key>size</key>
			<integer>448888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_info</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>522b8b4f5f88652fd5a4f1e6fd01dfcc84898d29a0a226960d52a6e73e7b72e7</string>
			<key>size</key>
			<integer>1294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_io</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>8c471e913239c9a598da5405583cd73901f165929d1ff63875270257265cf6ce</string>
			<key>size</key>
			<integer>212472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_logprint</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>e87622e6da950cfaba9352255d22aebd01fe94ce2ca568ef887f02c8ab7db980</string>
			<key>size</key>
			<integer>477568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_mdrestore</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>84107aa2a74abdb3c560acc61d1dcc6bab785c4dced83ab47776064f61431f4a</string>
			<key>size</key>
			<integer>428416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_metadump</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>4190c07b16ea270f05923f3911384d5f87e14b94f02247bc481920462f795f35</string>
			<key>size</key>
			<integer>782</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_mkfile</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>e43e1d164e63585601cb65afd2c6c48968ad19f186aba2bd163f980025adacb0</string>
			<key>size</key>
			<integer>1040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_ncheck</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>65791db2534f7cb058038b7d6520b8050282cd148e6bccf446da92a701e3cc12</string>
			<key>size</key>
			<integer>685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_quota</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>b07fa56d0c7618cb1c2f80fc1b483ef5245a3e4fbfc469afd9f4f07e1d27fb8b</string>
			<key>size</key>
			<integer>100432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_repair</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>41072e312af7955bfb30f0140b1fdc46e83b18aac2187bd741819043eaf6ed48</string>
			<key>size</key>
			<integer>752984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_rtcp</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>5e0feaaf5c57ceb62af0d3dce80ecaa835e968536c51bd05762242dddaeb55f1</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_scrub</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>9938bde40d6cebf1d27410f9fb0a59b7033a5c575c99eaafae2603d9e9c83b07</string>
			<key>size</key>
			<integer>125096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_scrub_all</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>94c6ee02d7f0608ffe338970f2e9793735827a53799eeb66a1d5c0d931163666</string>
			<key>size</key>
			<integer>6005</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_spaceman</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>3dc0ff2f2b09f2f15d83ed8a6d7e9ab08f3c9866178f909802b381f3be34cd7e</string>
			<key>size</key>
			<integer>55520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libhandle.so.1.0.3</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>fe9d31022c99e0d34cea5b7b10073d3015d5e09ccf93376cbdd759afa902d1b5</string>
			<key>size</key>
			<integer>14328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xfsprogs/xfs_scrub_all.cron</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>bb01ff31198bef1961d676199bb32a0aade40107c898f6dbbd4aca73d5e96527</string>
			<key>size</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/xfsprogs.mo</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>c299e491a0471d9b5e94cc165773772bada882f7d40d186cc348414f7bccb1ad</string>
			<key>size</key>
			<integer>332681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/xfsprogs.mo</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>e41b460ba64c9b219d3250146c9acc6802ce9b22dc9992581eb25dbf3ce11864</string>
			<key>size</key>
			<integer>443831</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_ag_geometry.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>006b31851f74a4043603f9f0256298dfe686fdedd4fa97627c1761347b3518c3</string>
			<key>size</key>
			<integer>3295</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_bulkstat.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>168f56ac78ef6895a6c6de37a1b735190e1cb2d7b251f11a4db5260690f44476</string>
			<key>size</key>
			<integer>8126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fsbulkstat.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>0c905fd23502429b6df35974ed08d0592fe0f111a4808a8a6d0b756156cde470</string>
			<key>size</key>
			<integer>6274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fscounts.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>59ed4d24db70aa8957a7fca32ffe9cba3e68983699c702431136b878feaeb59e</string>
			<key>size</key>
			<integer>1774</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fsgeometry.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>bc0e9adcd90c28802ae2979cc6000b7ec853ba0e2889d0711d904fd01ab5a623</string>
			<key>size</key>
			<integer>7525</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fsgetxattr.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>ee056a775dd2c8dbb8e96d0f14315f74e54567e0a8789415c6d416ce44996491</string>
			<key>size</key>
			<integer>7674</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fsgetxattra.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>339a63d7827c260c1e021b4f9ddc1f15a4b4a8d59819d232d00e653817ee4c91</string>
			<key>size</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fsinumbers.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>2f262418988d693ca7f1c9b4e55c6c875f678215095a879271895777a14dff86</string>
			<key>size</key>
			<integer>3102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fssetxattr.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>339a63d7827c260c1e021b4f9ddc1f15a4b4a8d59819d232d00e653817ee4c91</string>
			<key>size</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_getbmap.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>bcf2bd64e2ffab97974b3e2932a8ea42b88820ab7bce9dce1e636a3afa524207</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_getbmapa.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>bcf2bd64e2ffab97974b3e2932a8ea42b88820ab7bce9dce1e636a3afa524207</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_getbmapx.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>74d5c511fa40698a4fc53ed5b233029c65d086ac6cbbe5a4882a94f3a972f4c1</string>
			<key>size</key>
			<integer>4266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_getresblks.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>18a954556b73701cc07589a024b9a98b7b22ad67d12b59d60ec788d270f11e19</string>
			<key>size</key>
			<integer>1902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_goingdown.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>e33d5af9f0d02425157297e4f472b5e16ef74576ed50c47474d473b44a55c4ac</string>
			<key>size</key>
			<integer>1649</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_inumbers.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>70c49ea6d08a209991499bce1df0c003de6800afc842497212c54126d2b44ad3</string>
			<key>size</key>
			<integer>2850</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_scrub_metadata.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>4efd687d2a68ae896121d811e5fb028c29a82ad8d1fcadc8562d0e0e2e0f096a</string>
			<key>size</key>
			<integer>8641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_setresblks.2</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>4089dd8f90ef07b286d510c77d9981b288ee8188d9a793c0f57947f617d7383e</string>
			<key>size</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/projects.5</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>27bf32537d83f3fca96229f56a4a40c55b7afb8128748d10c842492ae2483b3e</string>
			<key>size</key>
			<integer>568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/projid.5</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>c48327dab6f86991f49767dfb7f01763f75776e41996541f451ee14a55e3af24</string>
			<key>size</key>
			<integer>567</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/xfs.5</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>7b95d8a0c40819c9a3eb05632496acacdf761ab06331f9a89a28093c88e4ac30</string>
			<key>size</key>
			<integer>13499</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/fsck.xfs.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>dace6ff42121dd3dd481c6a0b6efb52140bb1a1117cf795736aacf3e36f78119</string>
			<key>size</key>
			<integer>819</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mkfs.xfs.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>fed0acfce693b38c0aab6ce458e13697454bc577a51bc48dc10056d66fd6c4dd</string>
			<key>size</key>
			<integer>33719</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_admin.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>d968709fb89d01e89044eaa52c3174ec6da81150a1ed5d6a73b68aeef738e1c8</string>
			<key>size</key>
			<integer>5185</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_bmap.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>6e6a76a854b8705ec92c23bd54f3fc1c85fcd5b5c500a5318e62681035ac5ca0</string>
			<key>size</key>
			<integer>2182</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_copy.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>4af14894b1b6a1a053ee0a1ea1d050a8c3db4673b556b1510f750188b9898cc6</string>
			<key>size</key>
			<integer>4429</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_db.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>018c4d1e4dfd701b049eb03d405a22c3be9cbe1ff11e0164631367b438ad5f27</string>
			<key>size</key>
			<integer>56954</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_estimate.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>7cfeb73afc3a244c47b824a3e66ea7e304bd9b7e775e3452588ef9ce70934429</string>
			<key>size</key>
			<integer>2241</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_freeze.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>488e1e99691359fd676426cde72112fa7ac224cc1295cc9ed1e23bd32d4fd807</string>
			<key>size</key>
			<integer>2158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_fsr.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>30c25e4054245fcbbce53160e58b9ea9d61c7725e8e3544e4eaa5a3541e6414d</string>
			<key>size</key>
			<integer>5184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_growfs.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>c7f824ff1a37bec794cdf940accdc00b0782fae4a132ab860e14651c432f6cfc</string>
			<key>size</key>
			<integer>3971</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_info.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>e5b04c32c8f2f61a88fe46a00ff09c1f3883fd37de1b45ca207843a3c1d5c1ca</string>
			<key>size</key>
			<integer>2415</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_io.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>9418175df74193c6027ccb97f4912cd6ce66028dc2d013207f5ee2abfdfca8ba</string>
			<key>size</key>
			<integer>39062</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_logprint.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>4846568024be27e3cd5c2f0213aac4422b50bb07a8866fa4577b52840cbc52f3</string>
			<key>size</key>
			<integer>2927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_mdrestore.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>24f5bc1849d6725704df26fe17ea2bde6b7b73c188721654bf2c7c34197a06fd</string>
			<key>size</key>
			<integer>1440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_metadump.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>31b83ec19d004df2a9d11477a4a97bc9e71d3961a35cfb71e017e246150f2876</string>
			<key>size</key>
			<integer>5062</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_mkfile.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>dc80a35e95217769b965d436c1bf8e28ec1f3b4938318e53ff8124d9cafd606c</string>
			<key>size</key>
			<integer>821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_ncheck.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>0742e84bd33b3549d845f4f00576e7c117ecefe96bbb4f39ff3b5a85e41833e4</string>
			<key>size</key>
			<integer>1767</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_quota.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>ff40390305a37047bf178515248075211d8f40fcb3ee612539903433dbf9afc9</string>
			<key>size</key>
			<integer>20241</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_repair.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>1be873a902668c338c5c5228e3ecdd433cc191a76c667a19890882a18e618d53</string>
			<key>size</key>
			<integer>17325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_rtcp.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>4cca7e370588af3482dd1d67e96450a4a289156c7f078d09eb2879ad10ab551a</string>
			<key>size</key>
			<integer>1223</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_scrub.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>1a9bfc7d8fb3005536a2603541c1561c1993ad7605d50198c7dcdd4f70d0fc91</string>
			<key>size</key>
			<integer>5502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_scrub_all.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>b73ac998a80d8a712917a24e3f8a0b06fe524fc228c84dc91b3cba065d8e99a1</string>
			<key>size</key>
			<integer>964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_spaceman.8</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>sha256</key>
			<string>6922e730c9f89caba8b825c8f98d0800c2de398da73f771d009a355757c1ec10</string>
			<key>size</key>
			<integer>5079</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libhandle.so.1</string>
			<key>mtime</key>
			<integer>1630089450</integer>
			<key>target</key>
			<string>/usr/lib/libhandle.so.1.0.3</string>
		</dict>
	</array>
</dict>
</plist>
